<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="un.ique.chmacaddroid"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application android:label="@string/main_app_name" >
        <activity android:name="Main"
                  android:label="@string/main_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ManualMac"
                  android:label="@string/manualmac_app_name"
                  android:parentActivityName="un.ique.chmacaddroid.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="un.ique.chmacaddroid.Main" />
        </activity>
        <activity android:name="RandomMac"
                  android:label="@string/randommac_app_name"
                  android:parentActivityName="un.ique.chmacaddroid.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="un.ique.chmacaddroid.Main" />
        </activity>
    </application>
</manifest>
